.chat-container {
  height: 100%;
  background: #eaedf4;
  .nav-bar {
    background: $m-primary;
    color: #fff;
    height: 48px;
    .title {
      color: #fff;
      font-size: 16px;
    }
    .van-nav-bar__title {
      color: #fff !important;
    }
    .van-icon {
      color: #fff !important;
    }
  }

  // 消息列表
  .message-box {
    padding: 0.32rem;
    height: calc(100% - 96px);
    box-sizing: border-box;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    .avatar {
      background: #fff;
      border: 2px solid #fff;
    }
    .message-item-content {
      height: 64px;
      display: flex;
      padding: 0.1rem;
      align-items: center;
      .message-content {
        background: #fff;
        padding: 0.32rem;
        border-radius: 4px;
        margin-left: 4px;
        word-wrap: break-word;
        max-width: 100%;
        overflow-x: hidden;
        font-size: 16px;
      }
    }

    .message-item-content-me {
      height: 64px;
      display: flex;
      flex-direction: row-reverse;
      padding: 0.1rem;
      align-items: center;
      .message-content {
        background: #198afa;
        color: #fff;
        padding: 0.32rem;
        border-radius: 4px;
        margin-left: 4px;
        word-wrap: break-word;
        max-width: 100%;
        overflow-x: hidden;
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

  .control-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    .control {
      height: 48px;
      background: #eaedf4;

      width: 100%;
      // border-top: 2px solid #ebedf0;
      // border-bottom: 1px solid #ebedf0;
      display: flex;
      align-items: center;
      padding: 0 0.32rem;
      box-sizing: border-box;
      .van-cell {
        border-radius: 57px;
        margin: 0 8px;
        line-height: 1px;
      }
      .emoji-btn {
        font-size: 30px;
      }

      .send-btn {
        padding-left: 8px;
        padding-right: 8px;
        width: 80px;
        border-radius: 14px;
      }
    }

    // 表情栏
    .control-emoji {
      height: 200px;
      width: 100%;
      padding-bottom: 24px;
      box-sizing: border-box;
      // justify-content: center;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      overflow-y: scroll;
      background: #fff;
      div {
        font-size: 20px;
        padding: 8px;
        flex: 0 0 14.2857%;
        box-sizing: border-box;
      }
    }

    // 工具栏
    .control-tools {
      height: 200px;
      width: 100%;
      padding: 0.32rem 0.32rem 24px 0.32rem;
      box-sizing: border-box;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      overflow-y: scroll;
      background: #eaedf4;
      .tools-item {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
        .tools-item-img {
          padding: 0.32rem;
          box-sizing: border-box;
          border-radius: 16px;
          background: #fff;
          margin-bottom: 8px;
        }
      }
    }
  }
  .van-dialog {
    /deep/ .van-button--default {
      color: rgba(0, 0, 0, 0.7) !important;
      font-size: 18px;
    }
  }
  // 用户信息弹出框
  .match-user-info {
    .img {
      background: #fff;
      border-radius: 50%;
      width: 1.55rem;
      height: 1.55rem;
      margin: 12px auto;
    }
    div {
      margin-bottom: 12px;
    }
    padding: 0.32rem;
    font-size: 18px;
  }
}
