@import './variables.scss';
@import './mixin.scss';

html,
body {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  height: 100%;
}

.app-container {
  padding-bottom: 50px;
}

::-webkit-scrollbar {
  display: none;
}
